@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This app is designed to interact with car brands and their specific models. Use the buttons at the top to navigate. </p>
</div>
